<p-dialog header="About Cold Storage Crypto Watch" [(visible)]="_show" appendTo="body" [contentStyle]="{'overflow':'scroll'}"
          (onHide)="close()" modal="modal" [responsive]="true" dismissableMask="true"
          positionLeft="10" positionTop="10">
  <br/>
  Cold Storage Crypto Watch is an application that helps you keep track of your crypto currency holdings
  and alerts when there is a change in balance.
  <br/>
  Cold Storage Crypto Watch constantly updates the dollar value of your holdings and calculates subtotal
  per coin and the total amount.
  <br/>
  <br/>
  All information regarding the accounts live only in the local browser storage and is never uploaded to the
  cloud.
  <br/>
  <br/>
  Open source at <a href="https://github.com/silviokucz/BtcWatch">https://github.com/silviokucz/BtcWatch</a>
  <br/>
  <br/>
  Sources of information:
  <br/>
  Ticker: https://coinmarketcap.com/
  <br/>
  BTC: https://blockchain.info/
  <br/>
  ETH, LTC and DASH: https://www.blockcypher.com/
  <br/>
  BCH: https://blockdozer.com/insight/
  <br/>
  <br/>
  Cold Storage Crypto Watch v1.0.0-beta, Copyright &copy; 2017 Silvio Kuczynski
  <br/>
  <br/>
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  <br/>
  http://www.apache.org/licenses/LICENSE-2.0
  <br/>
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
</p-dialog>
