<p-panel header="Cold Storage Crypto Watch" [toggleable]="false">
  <br/>
  Getting started:
  <ul>
    <li>
      Select a coin type
    </li>
    <li>
      Enter account name (any name, ex. Bitcoin paper wallet 1)
    </li>
    <li>
      Enter address
    </li>
    <li>
      Please wait until the app updates info, could take a few minutes *
    </li>

  </ul>
  <br/>
  <br/>
  Cold Storage Crypto Watch is an application that helps you keep track of your crypto currency holdings
  and alerts when there is a change in balance.
  <br/>
  Cold Storage Crypto Watch constantly updates the dollar value of your holdings and calculates subtotal
  per coin and the total amount.
  <br/>
  <br/>
  All information regarding the accounts live only in the local browser storage and is never uploaded to the
  cloud.
  <br/>
  <br/>
  Open source at <a href="https://github.com/silviokucz/BtcWatch">https://github.com/silviokucz/BtcWatch</a>
  <br/>
  <br/>
  <div id="outer" style="width:100%">
    <div id="inner">
      <table>
        <thead>
        <td colspan="3">
          <h4>Donations accepted for continued improvement</h4>
        </td>

        </thead>
        <tr>
          <td>
            Bitcoin
          </td>
          <td>
            &nbsp;
          </td>
          <td>
            1LVngDhkjxpjhwtUAFxZuFAEfftgohZDM9
          </td>
        </tr>
        <tr>
          <td>
            Ethereum
          </td>
          <td>
            &nbsp;
          </td>
          <td>
            0xb7eb32154aa09778d7C8395A1db8FA20e49295A2
          </td>
        </tr>
        <tr>
          <td>
            LiteCoin
          </td>
          <td>
            &nbsp;
          </td>
          <td>
            LNsDVXWrDrVVAdKRm8ErHJGNdmKMq5aijb
          </td>
        </tr>
        <tr>
          <td>
            Dash
          </td>
          <td>
            &nbsp;
          </td>
          <td>
            Xxj68TVrzMtz2B3RsJ5Rpa3erEyDW651y3
          </td>
        </tr>
      </table>

    </div>
  </div>


  <br/>
  <br/>
  Sources of information (APIs):
  <br/>
  Ticker: https://coinmarketcap.com/
  <br/>
  BTC: https://blockchain.info/
  <br/>
  ETH, LTC and DASH: https://www.blockcypher.com/
  <br/>
  BCH: https://blockdozer.com/insight/
  <br/>
  <br/>
  * Due to restrictions on speed of access for the above free APIs, this app will update all info slowly.
  <br/>
  <br/>
  Cold Storage Crypto Watch v1.0.0-beta, Copyright &copy; 2017 Silvio Kuczynski
  <br/>
  <br/>
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  <br/>
  http://www.apache.org/licenses/LICENSE-2.0
  <br/>
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

</p-panel>
